@page "/section/{sec}"
@model SectionModel
@using Microsoft.AspNetCore.Http

<div class="row">
	<table class="table">
		<thead>
			<tr>
				<th><h3>@RouteData.Values["sec"]</h3></th>
				<th class="text-center">Comments</th>
				<th class="text-center">Views</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach(var t in Model.threads)
			{
				<tr class="thread">
					<th class="align-middle"><a href="/section/@RouteData.Values["sec"]/@t.id">@t.name</a></th>
					<td class="text-center align-middle">@Model.comments[t]</td>
					<td class="text-center align-middle">@t.views</td>
					<td class="text-right">
						<small class="user">@t.latestSource</small><br>
						<small>@t.latest</small>
					</td>
				</tr>
			}
		</tbody>
	</table>
	@{
		var user = new Byte[20];
		var exists = HttpContext.Session.TryGetValue("username", out user);
		if(exists) {
			<a href="/section/@RouteData.Values["sec"]/newthread"><button class="btn btn-outline-primary ml-3">Create New Thread</button></a>
		}
	}
</div>