@page "/section/{sec}/{id:int}"
@model ThreadModel;
@using Microsoft.AspNetCore.Http;

@{
	var user = new Byte[20];
	var exists = HttpContext.Session.TryGetValue("username", out user);
}

<div class="threadHeader row">
	<div class="col">
		<h3 class="m-2 ser">@Model.thread.name</h3>
	</div>
	<div class="col text-right text-muted align-self-center">
		<p class="mb-0">@Model.thread.date</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-2 text-center">
		<a href="/profile/@Model.thread.author.Username"><h5 class="mt-2" style="color:@Model.thread.author.Rank.color;">@Model.thread.author.Username</h5></a>
		<small>@Model.thread.author.Rank.name</small><br>
		<img class="avatar mb-3" src="~/images/avatars/@Model.thread.author.avatar">
		<p>Posts: @Model.thread.author.posts</p>
	</div>
	<div class="col pl-0">
		<p class="mt-2">@Html.Raw(Model.thread.post)</p>
	</div>
</div>
@foreach(var p in Model.posts)
{
	<div class="post row">
		<div class="col-sm-2 text-center">
			<a href="/profile/@p.author.Username"><h5 class="mt-2" style="color:@p.author.Rank.color;">@p.author.Username</h5></a>
			<small>@p.author.Rank.name</small><br>
			<img class="avatar mb-3" src="~/images/avatars/@p.author.avatar">
			<p>Posts: @p.author.posts</p>
		</div>
		<div class="col">
			<div class="row">
				<div class="col postfield">
					<p class="mt-2">@Html.Raw(p.post)</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2">
		</div>
		<div class="col text-muted">
			<small>@p.date</small>
		</div>
		<div class="text-right mr-1">
			@{
				if(exists) {
					var username = @Model.loggedin.Username;
					if(username == p.author.Username) {
						<a href="./@Model.thread.id/@p.id/edit">Edit</a>
						<a href="./@Model.thread.id/@p.id/delete">Delete</a>
					} else {
						if(@Model.loggedin.Rank.edit) {
							<a href="./@Model.thread.id/@p.id/edit">Edit</a>
						}
						if(@Model.loggedin.Rank.delete) {
							<a href="./@Model.thread.id/@p.id/delete">Delete</a>
						}
					}
				}
			}
		</div>
	</div>
}
<div class="row">
		<div class="col">
			@{
				if(exists) {
					<form method="post" id="postform">
						<div id="editor-container" style="height: 300px">
							
						</div>
						<input name="author" style="display:none" value="@HttpContext.Session.GetString("username")">
						<textarea name="text" style="display:none" id="hiddenArea"></textarea>
						<input name="thread" style="display:none"/ value="@RouteData.Values["id"]">

						<button type="submit" class="btn btn-outline-light mt-3">Post</button>
					</form>

					<partial name="quill" />
				} else {
					<div class="text-center">
						<h3>You need you log in to make a post a reply</h3>
					</div>
				}
			}
		</div>
	</div>