@page "/section/{sec:alpha}/{id:int}"
@model ThreadModel
<div class="threadHeader">
	<h3>@Model.thread.name</h3>
	<small>@Model.thread.author</small>
</div>
<div class="row">
	<div class="col-sm-2 text-center">
		<h5>@Model.thread.author</h5>
		<small>Default Title</small>
		<img class="avatar" src="~/images/default-avatar.png">
	</div>
	<div class="col">
		@Model.thread.post
	</div>
</div>

<br><br>
@foreach(var p in Model.posts)
{
	<div class="post row">
		<div class="col-sm-2 text-center">
			<h5>@p.author</h5>
			<small>Default Title</small>
			<img class="avatar" src="~/images/default-avatar.png">
		</div>
		<div class="col">
			<p>@p.post;</p>
		</div>
	</div>
}