@page "/section/{sec:alpha}/{id:int}"
@using System.Web
@model ThreadModel;

<div class="threadHeader">
	<h3>@Model.thread.name</h3>
</div>
<div class="row">
	<div class="col-sm-2 text-center">
		<h5 class="mt-2">@Model.thread.author</h5>
		<small>Default Title</small>
		<img class="avatar mb-3" src="~/images/default-avatar.png">
	</div>
	<div class="col">
		@Html.Raw(Model.thread.post)
	</div>
</div>

<br><br>
@foreach(var p in Model.posts)
{
	<div class="post row">
		<div class="col-sm-2 text-center">
			<h5 class="mt-2">@p.author</h5>
			<small>Default Title</small>
			<img class="avatar mb-3" src="~/images/default-avatar.png">
		</div>
		<div class="col">
			@Html.Raw(p.post)
		</div>
	</div>
}