@page "/profile/{user}"
@model ProfileModel
@using Microsoft.AspNetCore.Http

<div id="profile" class="row mt-3">
	@Html.AntiForgeryToken()
	<div class="col-sm-3">
		<div class="text-center">
			<img class="avatarBig" src="~/images/avatars/@Model.owner.avatar" data-toggle="modal" data-target="#exampleModal">
		</div>
		<hr>
		<div class="row">
			<div class="col">
				Posts:
			</div>
			<div class="col text-right">
				@Model.owner.posts
			</div>
		</div>
		<div class="row">
			<div class="col">
				Last Login:
			</div>
			<div class="col text-right">
				@Model.owner.lastLogin.Year/@Model.owner.lastLogin.Month/@Model.owner.lastLogin.Day
			</div>
		</div>
		<div class="row mb-3">
			<div class="col">
				Joined:
			</div>
			<div class="col text-right">
				@Model.owner.created.Year/@Model.owner.created.Month/@Model.owner.created.Day
			</div>
		</div>
		<a href="/profile/@Model.owner.Username/posts">Recent posts</a>
	</div>
	<div class="col">
		<h3 class="@Model.owner.Rank.name">@Model.owner.Username</h3>
		@Model.owner.Rank.name
		<hr>
		@{
			var user = new Byte[20];
			var exists = HttpContext.Session.TryGetValue("username", out user);
			if(exists) {
				<form method="post">
					<textarea class="w-100 form-control" name="profileMessage" placeholder="your message"></textarea>
					<div class="text-right mt-1">
						<button type="submit" class="btn btn-outline-primary">Post</button>
					</div>
				</form>
				<br><br>
			}
		}
		<div>
			@foreach(var p in Model.profilePosts)
			{
				<div class="row">
					<div class="col-sm-1">
						<img class="avatarSmall" src="~/images/default-avatar.png">
					</div>
					<div class="col" data-id="@p.id">
						<div class="row profilemessage">
							<a href="/profile/@p.author.Username" class="user">
								@p.author.Username
							</a>
							<span>&nbsp;@p.post</span>
						</div>
						@{
							user 		= new Byte[20];
							exists 		= HttpContext.Session.TryGetValue("username", out user);
						}
						<div class="row">
							<div class="col-sm-auto pl-0 pr-0">
								<small class="text-muted">@p.date.Year/@p.date.Month/@p.date.Day</small>
							</div>
							@if(HttpContext.Session.GetString("username") == p.author.Username) {
								<div class="col-sm-auto pr-0">
									<a class="ProfileMessageEdit" href=""><small>Edit</small></a>
								</div>
								<div class="col-sm-auto">
									<form method="post">
										<input type="number" value="@p.id" name="profileMessageDelete" hidden>
										<a href="#" onclick="$(this).closest('form').submit();"><small>Delete</small></a>
									</form>
								</div>	
							}
							@if(exists) {
								<div class="col text-right">
									<a class="ReplyToProfileMessage" href="">Reply</a>
								</div>
							}
						</div>
						
						@{
							var comments = @Model.hash[p];
							foreach(var c in comments)
							{
								<div class="row" comment-id="@c.id">
									<div class="col-sm-auto pl-0">
										<img class="avatarSmall" src="~/images/default-avatar.png">
									</div>
									<div class="col">
										<div class="row profileMessageComment">
											<a href="/profile/@c.author.Username" class="user">
												@c.author.Username
											</a>
											<span>&nbsp;@c.post</span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-auto pl-0 pr-0">
										<small class="text-muted">@c.date.Year/@c.date.Month/@c.date.Day</small>
									</div>
									@if(HttpContext.Session.GetString("username") == c.author.Username) {
										<div class="col-sm-auto pr-0">
											<a class="ProfileCommentEdit" href=""><small>Edit</small></a>
										</div>
										<div class="col-sm-auto">
											<form method="post">
												<input type="number" value="@c.id" name="profileCommentDelete" hidden>
												<a href="#" onclick="$(this).closest('form').submit();"><small>Delete</small></a>
											</form>
										</div>	
									}
								</div>
							}
						}
					</div>
				</div>
			}
		</div>
	</div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="post" enctype="multipart/form-data">
				<div class="modal-body">
					<div class="text-center">
						<img id="avatarpreview" class="avatarBig" src="~/images/avatars/@Model.owner.avatar">		
					</div>
					<input id="updateavatar" type="file" asp-for="avatar">
					<script src="~/js/update_avatar.js"></script>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Save changes</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	function edit(type) {
		let areaname;

		if(type === "post") {
			areaname = "profileMessageEdit";
		} else if(type === "comment") {
			areaname = "profileMessageCommentEdit";
		} else {
			// ????
		}

		let toReplyTo 	= $(this).closest(".row").prev();
		let id 			= $(toReplyTo).closest("[comment-id]").attr("comment-id");
		let nextRow 	= $(this).closest(".row")
		let post 		= $(toReplyTo).find("span").text();

		let antiForgery = $('#profile > input[name="__RequestVerificationToken"]')[0].outerHTML;
		console.log(id);
		console.log($(this).closest(".row"));
		console.log(toReplyTo);

		$(toReplyTo).children().remove();

		$(toReplyTo).append(`
			<div class="col">
				<form method="post">
					<input type="text" name="profileMessageCommentId" value="${id}" hidden>
					<textarea class="w-100 form-control p-0" name="${areaname}">${post}</textarea>
					<div class="text-right mt-1">
						<button type="submit" class="btn btn-outline-primary">Confirm</button>
					</div>
					${antiForgery}
				</form>
			</div>
		`);

		$(nextRow).children()[1].remove();
	}

	$(".ProfileMessageEdit").click(function(e) {
		e.preventDefault();
		var bound = edit.bind(this);
		bound("post");
	});

	$(".ProfileCommentEdit").click(function(e) {
		e.preventDefault();
		var bound = edit.bind(this);
		bound("comment");
	});

	$(".ReplyToProfileMessage").click(function(e) {
		e.preventDefault();

		let toReplyTo = $(this).parent().parent().prev();
		let attacher  = $(toReplyTo).parent();
		let id = $(attacher).attr("data-id");
		let antiForgery = $('#profile > input[name="__RequestVerificationToken"]')[0].outerHTML;
		console.log(attacher);

		$(this).remove();

		$(attacher).append(`
			<div class="row">
				<div class="col">
					<form method="post">
						<div class="row">
							<div class="col-sm-auto p-0">
								<img class="avatarSmall" src="/images/avatars/default-avatar.png">
							</div>
							<div class="col">
								<input type="text" name="profileMessageCommentId" value="${id}" hidden>
								<textarea class="w-100 form-control" name="profileMessageComment"></textarea>
							</div>
						</div>
						<div class="row mt-1">
							<div class="col text-right">
								<button type="submit" class="btn btn-outline-primary">Reply</button>
							</div>
						</div>
						${antiForgery}
					</form>
				</div>
			</div>
		`);
	});
</script>