@page
@model IndexModel

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello, world! The time on the server is @DateTime.Now</p>

	@foreach(var s in Model.baba)
    {
		<div class="row section">
			<div class="col-sm-1 text-center">
				<img class="sectionIcon" src="~/images/@s.Image">
			</div>
			<div class="col">
				<div class="row w-100 d-flex align-items-center">
					<div class="col">
						<h3><a href="/section/@s.Name">@s.Name</a></h3>
						<span>@s.description</span>
					</div>
					<div class="col-md-4 text-right">
						@{
							if(s.latest > DateTime.MinValue) {
								<span class="thread">@s.latestThread</span>
								<br>
								<a href="/profile/@s.latestSource"><small class="user">@s.latestSource</small></a><small>, @s.latest</small>
							}
						}
					</div>
				</div>
			</div>
		</div>
    }
</div>
